body
{
width: 300px;
margin: auto;
}

#logo
{
width: 300px;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;

}

p
{width: 300px;
margin: auto;
padding: 5px;

text-align: center;
font-family: Helvetica;
} 

.icons {
	width:	300px;
	margin: 30px auto 0 auto;
	text-align: center;
	
}

.icons a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 13px;
	vertical-align: middle;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
}

.icons a.twitter { background: url(../img/social-icons/twitter.png) left top no-repeat; }
.icons a.email { background: url(../img/social-icons/email.png) left top no-repeat; }
.icons a.tumblr { background: url(../img/social-icons/tumblr.png) left top no-repeat; }
/*.icons a.flickr { background: url(../img/social-icons/flickr.png) left top no-repeat; }*/
.icons a.behance { background: url(../img/social-icons/behance.png) left top no-repeat; }

.icons a:hover { background-position: left -34px; }

#excuses
{
font-size: x-small;
margin-top: 50%;
}

#maisnon
{
font-size: x-large;
margin-top: 20%;
}

